/* Estilos para los comentarios */
.comentario {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comentario strong {
    font-weight: bold;
}

.comentario p {
    margin-top: 5px;
}
